/*  */


/* lught-dark mode */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}
.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: #0000001a;
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow:
        inset 0 0.5em 1.5em #0000001a,
        inset 0 0.125em 0.5em #00000026;
}
.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}
.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
    z-index: 1500;
}
.bd-mode-toggle .bi {
    width: 1em;
    height: 1em;
}
.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}



.menu-servicos {
    color: #669ceb !important; /* azul padrão do Bootstrap */
}




header {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}






.dropdown > a {
    color: #b3b3b3;
}

.dropdown > a:hover {
    color: #b3b3b3;
}

.dropdown > a:active {
    color: #b3b3b3;
}

.lara-logo {
    font-size: 18pt;
    margin-right: 15px;
}

.space-top .card {
    margin-bottom: 25px;
    overflow: hidden;
}

.card figure {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.card figure img {
    width: 110%;
    margin: -120px auto auto;
    transition: .3s;
}

.card:hover figure img {
    width: 100%;
}

.card-simple figure {
    width: 100%;
    height: 90px;
    overflow: hidden;
}

.card-simple figure img {
    width: 205%;
    margin-top: -30%;
    margin-left: -30%;
    transition: .3s;
}

.card-simple li:hover img {
    width: 195%;
}

.pager > div {
    min-width: 300px;
    margin: 0 auto;
}




main .struture {
    padding-top: 50px;
}

main .title {
    margin-bottom: 20px;
}

main .title .right {
    text-align: right;
}


.category-menu a {
    text-decoration: none;
}

.single .image-div {
    text-align: right;
}

.single img {
    width: 100%;
}

@media(min-width: 1100px) {
    .single img {
        width: auto;
    }
}

.single h2 {
    padding-top: 20px;
}


.about-icon .feature-icon-small {
    width: 60px;
    padding: 10px;
}


.error {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.error-box {
    max-width: 550px;
}





.top-admin > div {
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}

.top-admin > div div {
    flex: 1 1 300px;
}

.top-admin > div ul {
    flex: 1 1 300px;
    display: flex;
    justify-content: end;
    gap: 15px;

    list-style: none;
}




.two-blocks {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.two-blocks div:nth-child(2) {
    columns: 2;
}

.button-list {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 10px;
    flex-wrap: wrap;

    padding: 0;
}

.button-list .bi-key,
.table td .bi-key {
    display: inline-block;
    transform: rotate(130deg);
}

.complement-data {
    color: #828282;
}

.title-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}